{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}" />

<h1>Top 3 items with most tasks completed</h1>
<ul>
    {% for item in most_completed %}
        <li>Username: {{ item.username }} - Tasks: {{ item.todoitem__count }}</li>
    {% endfor %}
</ul>

<h1>Top 3 items with most tasks completed who joined in the last 3 months</h1>
<ul>
    {% for item in most_completed_in_last_month %}
        <li>username: {{ item.username }} - Tasks: {{ item.todoitem__count }}</li>
    {% endfor %}
</ul>